# dependencies
/node_modules
# images folder / production folder / logs
/images
/dist
/logs
src/**/*.js

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
